*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(45deg, rgb(251, 159, 0),rgba(218, 227, 38, 0.541))
}
h1{
    margin-left: -80vh;
    font-size: 4rem;
    font-family: fantasy;
    color: rgb(255, 55, 0);

}
.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(250, 150, 9);
    background-color: rgba(255, 255, 255, 0.505);
    opacity: 0.5;
    width: 50vh;
    height: 90vh;
    border-radius: 30px;
    
}
#inpt{
    background: transparent;
    border: none;
    height: 180px;
    font-size: 3rem;
    line-height: 2rem;
    overflow: hidden;
    width:50vh;
    border-radius: 30px; 
    text-align:right ;
}
#inpt:hover{
    cursor: pointer;
    border: none;

}

button{
    border: none;
    width: 50px;
    height: 50px;
    margin: 7px;
    border-radius: 50%;
    font-weight: 650;
    background-color: rgb(202, 204, 204);
    box-shadow: rgba(16, 16, 108, 0.9) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(103, 103, 103);

} 
#clear{
    background-color: red;
} 
#del{
    background-color: rgba(255, 0, 0, 0.637);
}
#zero{
    width: 118px;
    border-radius: 40px;
}
.btn{
    background-color: rgb(255, 119, 0);
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(255, 60, 0);


}
